<%- include('./partials/head.ejs') %> 
  <body>
    <div class="header">
      <p>BKK <span>2D</span> <span>3D</span></p>
    </div>
    <div class="content">
    <h1 class="panel-title">Import Panel</h1>
    <% if (locals.error) { %>
     <p>Something was wrong. Importing data failed.</p>
    <% } %>

      <% if (locals.success) { %>
      <p>Import data success</p>
    <% } %>
       <form class="panel-form" action="/panel/import" id="form" method="post" enctype="multipart/form-data">
           <input type="file" name="xlsx">
           <button type="submit">
              Import
           </button>
       </form>
    </div>

  </body>


</html>
